In [20]:
import pandas as pd
import numpy as np
import requests
from datetime import datetime as dt
import time
import json

In [21]:
path =  "Resources/atlanta_weather_history.json"
openweather_data = json.load(open(path))

##Only two inputs are a list of timestamps and list of game IDs
timestamp_list = [1262304000, 1262307600, 1262311200, 1262314800, 1262318400]
game_ids = [1, 2, 3, 4, 5]

for value in openweather_data:
    if timestamp == value['dt']:
        output = [[value['main']['temp'], 
            value['main']['humidity'], 
            value['clouds']['all'],
            value['weather'][0]['main'],
            value['wind']['speed']]]

In [22]:
gameweather_data = pd.DataFrame()

for timestamp in timestamp_list:
    
    #Organizes location and date object for api call
    #timestamp = timestamp_list[i]
    
    for value in openweather_data:
        try:
            if timestamp == value['dt']:
                weather = [[value['dt'],
                            value['main']['temp'], 
                            value['main']['humidity'], 
                            value['clouds']['all'],
                            value['weather'][0]['main'],
                            value['wind']['speed']]]
                
                display(weather)
                gameweather_data = gameweather_data.append(weather)
            
    
        except (KeyError, IndexError):
            print("Missing field/result... skipping.")

#end for
gameweather_data.columns = ['Timestamp','Temperature', 'Humidity', 'Cloudiness', 'Weather', 'Wind Speed']
gameweather_data. insert(0, 'Game_IDs', game_ids)
gameweather_data = gameweather_data.reset_index(drop = True)

display(gameweather_data)

[[1262304000, 7.16, 96, 90, 'Mist', 1.5]]

[[1262307600, 7.33, 92, 90, 'Mist', 2.16]]

[[1262311200, 7.33, 100, 90, 'Mist', 1.5]]

[[1262314800, 7.24, 92, 90, 'Mist', 2.64]]

[[1262318400, 7.13, 92, 75, 'Mist', 1.5]]

   Game_IDs   Timestamp  Temperature  Humidity  Cloudiness Weather  Wind Speed
0         1  1262304000         7.16        96          90    Mist        1.50
1         2  1262307600         7.33        92          90    Mist        2.16
2         3  1262311200         7.33       100          90    Mist        1.50
3         4  1262314800         7.24        92          90    Mist        2.64
4         5  1262318400         7.13        92          75    Mist        1.50

In [26]:
##MOCK DATA FOR INPUT##
mock_data = {'Game_ID':  ['1', '2', '3', '4', '5'],
        'Location': ['new york', 'los angeles', 'chicago', 'houston', 'miami', ],
        'Date': ['03-21-1996', '08-01-2020', '01-20-1980', '12-01-2001', '11-15-2008']
        }
mock_data_df = pd.DataFrame(mock_data)
cities = mock_data_df['Location']
times = mock_data_df['Date']

display(mock_data_df['Date'][1])


#Organizes location
city_name = mock_data_df['Location'][0]

#Timestamp conversion
date = mock_data_df['Date'][0]
datetime_obj = dt.strptime(date, '%M-%d-%Y')
timestamp = (datetime_obj - dt(1970, 1, 1)).total_seconds()
display(timestamp)

'08-01-2020'

822182580.0